<!doctype html>
<title>{% block title %}{% endblock %} - Student Portal</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<nav>
  <h1>Student Portal</h1>
  {% if g.user %}
    <ul>
      <li><span>{{ g.user['username'] }}</span></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
      {% if 'full_name' in g.user %}
        <li><span>{{ g.user['full_name'] }}</span></li>
        <li><span>{{ g.user['student_id'] }}</span></li>
      {% endif %}
    </ul>
  {% else %}
    <ul>
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    </ul>
  {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
